
:root {
    --preto: #222222;
    --amarelo:   #fef102;
    --vermelho: #ee1b24;
    --verde: #00a750;
  }
img{
    width: 100%;
}
     /* Estilo para a lista */




     ul {
        list-style-type: none;
        padding: 0;
    }
  
    li {
        margin-bottom: 10px; 
        font-size: 16px;
        line-height: 1.6; 
    }
  
    i.bi-caret-right-fill {
        color: var(--verde);
        margin-right: 8px;
    }